= form_for @category do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    .input-group
      .span.input-group-addon
        %input{ id: "BEE", type: "radio", name: "category[subject_area]", value: "Back End Engineering" }
      .form-control
        %label{ for: "BEE" }
          Back End Engineering
      .span.input-group-addon
        %input{ id: "FEE", type: "radio", name: "category[subject_area]", value: "Front End Engineering" }
      .form-control
        %label{ for: "FEE" }
          Front End Engineering

  = f.submit 'Save', class: "btn btn-primary"
