%p#notice= notice

%p
  %b Name:
  = @category.name
%p
  %b Subject area:
  = @category.subject_area

.btn-group.btn-group-xs
  - if @category.owned_by_user?(current_user)
    %button.btn.btn-default{"aria-label" => "Left Align", :type => "button"}
      = link_to 'Edit', edit_category_path(@category)
    %button.btn.btn-default{"aria-label" => "Left Align", :type => "button"}
      = link_to 'Delete', @category, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %button.btn.btn-default{"aria-label" => "Left Align", :type => "button"}
    = link_to 'Back', categories_path
